<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{values.appName}}</title>
	<link rel="stylesheet" href="css/normalize.css">
{% if values.bootstrap == 'y' %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
{% endif %}
{% if values.fontawesome == 'y' %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/tile.css">
{% endif %}
{% if values.restCalls == 'y' %}
	<link rel="stylesheet" href="css/flip.css">
{% endif %}
	<link rel="stylesheet" href="css/main.css">
</head>
<!-- appName -->
<body ng-app="{{ values.appName }}" ng-controller='BodyCtrl as bodyCtrl' ng-style='bodyCtrl.bodyBgColor'>
	<div class='container'>

{% if values.bootstrap == 'y' %}
		<!-- navbar - bootstrap -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header" ng-class="{ hiliteNav: bodyCtrl.isAbout() }" >
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a ng-class="{ active: bodyCtrl.isActive('/')}" class="navbar-brand" href="#/">Home</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li ng-class="{ active: bodyCtrl.isActive('/about')}"><a href="#/about">About</a></li>
						{% if values.restCalls == 'y' %}
						<li ng-class="{ active: bodyCtrl.isActive('/restCalls')}"><a ng-class="{ hiliteNav: bodyCtrl.isAbout() }" href="#/restCalls">Rest Calls</a></li>
						{% endif %}
						{% if values.fontawesome == 'y' %}
						<li ng-class="{ active: bodyCtrl.isActive('/colors')}"><a ng-class="{ hiliteNav: bodyCtrl.isAbout() }" href="#/colors">Colors</a></li>
						{% endif %}
						<li ng-class="{ active: bodyCtrl.isActive('/test')}"><a ng-class="{ hiliteNav: bodyCtrl.isAbout() }" href="#/test">Test</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<!-- end navbar -->
{% else %}
		<!-- navbar - non-bootstrap -->
		<ul class="navbar">
			<li ng-class="{ active: bodyCtrl.isActive('/main')}"><a ng-class="{ hiliteNav: bodyCtrl.isAbout() }" href="#/main">Home</a></li>
			<li ng-class="{ active: bodyCtrl.isActive('/about')}"><a ng-class="{ hiliteNav: bodyCtrl.isAbout() }" href="#/about">About</a></li>
			{% if values.restCalls == 'y' %}
			<li ng-class="{ active: bodyCtrl.isActive('/restCalls')}"><a ng-class="{ hiliteNav: bodyCtrl.isAbout() }" href="#/restCalls">REST Calls</a></li>
			{% endif %}
			{% if values.fontawesome == 'y' %}
			<li ng-class="{ active: bodyCtrl.isActive('/colors')}"><a ng-class="{ hiliteNav: bodyCtrl.isAbout() }" href="#/colors">Colors</a></li>
			{% endif %}
		</ul>
{% endif %}
		<div ng-view></div>

		<div id='footer' class="footer">
			<p>© Company 2015</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
{% if values.bootstrap == 'y' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script><!-- required for bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endif %}
	<script src='js/main.js'></script>
{% if values.directives == 'y' %}
	<script src='js/directives/clock.js'></script>
	<script src='js/directives/myCustomer.js'></script>
{% endif %}
{% if (values.bootstrap == 'y' && values.restCalls == 'y') || values.directives == 'y' %}
	<script src='js/directives/toggleClass.js'></script>
{% endif %}
{% if values.filters == 'y' %}
	<script src='js/filters.js'></script>
{% endif %}
{% if values.configuration == 'y' || values.dataBinding == 'y' || values.fontawesome == 'y' || values.restCalls == 'y' || values.firebase == 'y' %}
	<script src='js/svc.js'></script>
{% endif %}
	<script src='js/controllers.js'></script>
{% if values.firebase == 'y' %}
	<!-- firebase -->
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
{% endif %}
</body>
</html>
